<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    <nav class="nav">
        <div class="nav-container">
            <a href="{{ site.baseurl }}/">
                <h2 class="nav-title">{{ site.title }}</h2>
            </a>
            <ul>
                <li><a href="{{ '/about' | prepend: site.baseurl }}">{% t global.about %}</a></li>
                <li><a href="{{ site.baseurl }}/">{% t titles.pagination %}</a></li>
            </ul>
            {% for lang in site.languages %}
                {% unless site.lang == lang %}
                    {% if lang == site.default_lang %}
                        <a href="{{ site.baseurl_root }}{{ page.url }}">
                            {% t langs.{{ lang }} %}
                        </a>
                    {% else %}
                        <a href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}">
                            {% t langs.{{ lang }} %}
                        </a>
                    {% endif %}
                    {% assign next = forloop.index | plus: 1 %}
                    {% if forloop.last != true and site.languages[forloop.index] != site.lang or site.languages[forloop.index] == site.lang and next < forloop.length %}
                        <span class="separator"> &bull; </span>
                    {% endif %}
                {% endunless %}
            {% endfor %}
        </div>
    </nav>
    <main>
        {{ content }}
    </main>
    <footer>
        <span>
            &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> You can find me on <a href="{% t global.github_link %}">{% t global.github %}</a>.
        </span>
    </footer>
    <script src="/scripts/responsive.js" type="text/javascript"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']]
            }
        });
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>
</html>
